<html>
	<title>Image Rcognition</title>
	<body>
		<h1>Pick Image</h1>
		<form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
    </form>
	<div id="content">{% block content %}{% endblock %}</div>
	</body>
</html>
